NODE_ENV=development
PORT=8080

DATABASE_URL=postgresql://postgres:root@localhost:5432/admin-panel

REDIS_URL=

JWT_SECRET=2f145d988daaeb112ddcf93a44e64578260da3745a48d9e05e659d780faad5b9
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=8c654bd7222e0e08a1df184ba9fcdba86a2d5322f21b1f010fae6f21034b35d7
JWT_REFRESH_EXPIRES_IN=30d

ALLOWED_ORIGINS=http://localhost:8080,http://localhost:5173

APP_NAME=Wasla
SMTP_USER=
SMTP_PASS=
SMTP_FROM=